name: Dependency Submission

on:
  workflow_dispatch:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

permissions: {}

jobs:
  dependency-submission:
    name: Submit uv dependencies
    runs-on: ubuntu-latest
    permissions:
      contents: write # needs to submit dependency graph data
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Submit dependency snapshot
        uses: ./.github/workflows/actions/uv-dependency-submission
